.summary {
    position: relative;
    width: 100%;
    overflow-y: auto;
    height: calc(100vh - 160px)
}
.audio__wrapper {
    width: 100%;
    height: 80px;
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #042330;
    padding: 0 40px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 9998
}

.audio__wrapper>div {
    width: calc(100% / 3)
}

.audio__book--summary {
    white-space: pre-line;
    padding: 24px;
    max-width: 800px;
    margin: 0 auto
}

.audio__book--summary-title {
    color: #032b41;
    font-size: 24px;
    border-bottom: 1px solid #e1e7ea;
    margin-bottom: 32px;
    padding-bottom: 16px;
    line-height: 1.5
}

.audio__book--summary-text {
    white-space: pre-line;
    line-height: 1.4;
    color: #032b41
}

.audio__track--wrapper {
    display: flex;
    gap: 12px
}

.audio__track--image-mask {
    display: flex;
    max-width: 48px
}

.audio__track--image {
    width: 100%;
    height: 100%
}

.audio__track--details-wrapper {
    color: #fff;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: center
}

.audio__track--author {
    color: #bac8ce
}

.audio__controls {
    gap: 24px
}

.audio__controls,.audio__controls--btn {
    display: flex;
    align-items: center;
    justify-content: center
}

.audio__controls--btn {
    border-radius: 50%;
    cursor: pointer
}

.audio__controls--btn svg {
    width: 28px;
    height: 28px;
    stroke: #fff;
    transition: all .2s
}

.audio__controls--btn svg:hover {
    stroke: #2bd97c
}

.audio__controls--btn svg path {
    stroke: #fff;
    stroke-width: 1.5px
}

.audio__controls--btn-play {
    background-color: #fff;
    width: 40px;
    height: 40px
}

.audio__controls--btn-play svg {
    color: #042330
}

.audio__controls--play-icon {
    margin-left: 4px
}

.audio__progress--wrapper {
    display: flex;
    align-items: center;
    gap: 16px
}

.audio__time {
    color: #fff;
    font-size: 14px
}

.audio__progress--bar {
    border-radius: 8px;
    height: 4px;
    max-width: 300px;
    width: 100%;
    cursor: pointer;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

.audio__progress--bar::-webkit-slider-thumb {
    border: 6px solid #fff;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    -webkit-appearance: none;
    appearance: none
}

.audio__book--spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%
}

.audio__book--spinner svg {
    width: 64px;
    height: 64px;
    color: #032b41;
    animation: spin 1s linear infinite
}

@keyframes spin {
    0% {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(1turn)
    }
}
@media (max-width: 768px) {
    .audio__wrapper {
        height:180px;
        padding: 16px 24px;
        flex-direction: column
    }

    .audio__wrapper>div {
        width: 100%;
        justify-content: center
    }

    .audio__track--image-mask {
        max-width: 80px
    }

    .audio__book--summary-title {
        font-size: 20px
    }

    .audio__book--summary-text {
        font-size: 14px
    }

    .summary {
        height: calc(100vh - 260px)
    }
}
