.search__background {
    background-color: #fff;
    border-bottom: 1px solid #e1e7ea;
    height: 80px;
    z-index: 1
}

.search__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 32px;
    max-width: 1070px;
    margin: 0 auto;
    height: 100%
}

.search__content {
    display: flex;
    align-items: center;
    gap: 24px;
    max-width: 340px;
    width: 100%
}

.sidebar__toggle--btn {
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer
}

.sidebar__toggle--btn svg {
    width: 24px;
    height: 24px
}

.search,.search__input--wrapper {
    display: flex;
    align-items: center;
    width: 100%
}

.search__input--wrapper {
    position: relative;
    gap: 8px
}

.search__input {
    height: 40px;
    width: 100%;
    padding: 0 16px;
    outline: none;
    background-color: #f1f6f4;
    color: #042330;
    border: 2px solid #e1e7ea;
    border-radius: 8px
}

.search__icon {
    display: flex;
    align-items: center;
    position: absolute;
    height: 100%;
    right: 8px;
    justify-content: flex-end;
    border-left: 2px solid #e1e7ea;
    padding-left: 8px
}

.search__icon svg {
    width: 24px;
    height: 24px;
    color: #03314b
}

.search__delete--icon {
    cursor: pointer
}

.search__books--wrapper {
    display: flex;
    flex-direction: column;
    max-width: 440px;
    width: 100%;
    max-height: 640px;
    margin-left: auto;
    overflow-y: auto;
    padding: 16px;
    position: absolute;
    top: 104px;
    right: 24px;
    background-color: #fff;
    border: 1px solid #e1e7ea;
    box-shadow: 0 0 6px 0 rgba(0,0,0,.14)
}

.search__book--link {
    display: flex;
    align-items: center;
    padding: 16px;
    gap: 24px;
    height: 120px;
    border-bottom: 1px solid #e1e7ea
}

.search__book--title {
    font-size: 16px;
    font-weight: 500;
    color: #032b41;
    margin-bottom: 8px
}

.search__book--author {
    font-size: 14px;
    font-weight: 300;
    color: #6b757b;
    margin-bottom: 8px
}

.search__book--link:last-child {
    border-bottom: none
}

.search__book--link:hover {
    background-color: #f1f6f4
}

.search__book--img-mask {
    max-width: 80px
}

.search__book--img {
    width: 100%
}
